.team-page-container {
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.team-page-container h1 {
  color: #333; /* Adjust the color to fit your site's theme */
  margin-bottom: 40px; /* Add some space below the heading */
  font-size: 2.5em; /* Increase the font size */
  font-weight: normal; /* Adjust the weight as needed */
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Ensure responsiveness */
  margin-bottom: 20px; /* Space below the team-container */
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px; /* Adjust based on your preference */
  background-color: #f9f9f9; /* Light background for contrast */
  padding: 20px;
  border-radius: 10px; /* Adds rounded corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow for depth */
  margin: 10px;
}

.team-member img {
  border-radius: 50%;
  width: 150px; /* Adjust based on your image sizes */
  height: 150px;
  object-fit: cover;
  margin-bottom: 15px; /* Space between the image and the name */
}

.team-member h3 {
  margin: 10px 0 5px;
  color: #007bff; /* Adjust to match your site's theme */
}

.team-member p {
  text-align: justify;
  font-size: 0.9em; /* Slightly smaller font size for readability */
  line-height: 1.4; /* Adjust line height for better text flow */
  color: #555; /* Darker text color for contrast against background */
}
